html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    /*background-color: #93A392;*/
    background-color: #90D7FF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.mainFlex
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: left;
}
.gameBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 410px;
    height: 408px;
    box-shadow: 0 0 3em grey;
}

.singleBox{
    border: black  solid 1px;
}

.scoreBox{
    width: 400px;
}

.buttonStyle{
    float: right;
}

.bodySetting{
    background-color: #90D7FF;
}

.btn-primary{
    color: white !important;
    background-color: #22577A !important;
    border: #22577A;
    box-shadow: #22577A;
}

